.semaforo {
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
  background-color: black;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.luzsemaforo {
  display: block;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  background-color: black;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.roja {
  background-color: darkred;
}

.amarilla {
  background-color: darkgoldenrod;
}

.verde {
  background-color: darkgreen;
}

.roja.encendido {
  background-color: orangered;
}

.amarilla.encendido {
  background-color: yellow;
}

.verde.encendido {
  background-color: lawngreen;
}
