.elemento {
    background-color: dodgerblue;
    color: white;
    border: 1px solid blue;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 100%;
}

.contenedor  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elemento3, .elemento4, .elemento6, .elemento7 {
    flex-basis: 50%;
}

.elemento8 {
    flex-basis: 25%;
    margin-left: 75%;
}

/* 768 992 */
@media (min-width: 768px) {
    .elemento1 {
        flex-basis: 25%;
        margin-right: 75%;
    }
    .elemento2 {
        flex-basis: 25%;
        margin-left: 75%;
    }
    .elemento3 {
        flex-basis: 25%;
    }
    .elemento4 {
        flex-basis: 75%;
    }
    .elemento5 {
        flex-basis: 25%;
        margin-right: 75%;
    }
    .elemento9, .elemento10 {
        flex-basis: 25%;
        margin-right: 75%;
    }
}

@media (min-width: 992px) {
    .elemento1 {
        flex-basis: 75%;
        margin-right: 25%;
    }
    .elemento2 {
        flex-basis: 75%;
        margin-left: 25%;
    }
    .elemento3, .elemento4 {
        flex-basis: 25%;
    }
    .elemento4 {
        margin-right: 50%;
    }
    .elemento5 {
        margin-left: 10%;
        margin-right: 0%;
        flex-basis: 90%;
    }
    .elemento6 {
        margin-left: 20%;
        flex-basis: 80%;
    }
    .elemento7 {
        margin-left: 5%;
        flex-basis: 95%;
    }
    .elemento8 {
        margin-left: 0%;
        flex-basis: 100%;
    }
    .elemento10 {
        flex-basis: 25%;
        margin-left: 75%;
        margin-right: 0%;
    }
}