.lengueta {
  background-color: blanchedalmond;
  border: 0;
  padding: 0.5rem;
  margin-right: 0.1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  outline: none;
}

.lenguetainactiva {
  background-color: whitesmoke;
}

.componentes {
  background-color: blanchedalmond;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.componentes * {
  outline: none;
}

.componentes label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
}

.componentes input {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid burlywood;
  box-shadow: 0 0 0.5rem 0.1rem rgb(0 128 160 / 30%);
}

.componentes input[type="number"] {
  text-align: right;
}

.componentes input:disabled {
  background-color: lightgray;
}

.componentes input:focus,
.componentes input:hover {
  box-shadow: 0 0 0.5rem 0.1rem rgb(0 128 160 / 50%);
}

.componentes button {
  border: 1px solid burlywood;
  border-radius: 0.5rem;
  line-height: 2rem;
  background-color: goldenrod;
  color: mintcream;
  box-shadow: 0 0 0.5rem 0.1rem rgb(0 128 160 / 30%);
}

.componentes button:hover {
  box-shadow: 0 0 0.5rem 0.1rem rgb(0 128 160 / 50%);
}

.componentes button:active {
  box-shadow: 0 0 0.2rem 0.1rem rgb(0 128 160 / 50%);
}

.componentes button:disabled {
  background-color: gray;
  box-shadow: none;
}

.componentes table {
  table-layout: fixed;
  width: 100%;  
}

.componentes table thead .nombre {
  width: 60%;
}

.componentes table thead .precio {
  width: 40%;
}

.componentes table thead .acciones {
  width: 10ch;
}

.componentes table tbody .precio {
  text-align: right;
}

.componentes tr {
  line-height: 1.5rem;
}

.componentes tr.seleccionado {
  font-weight: bold;
  border: 1px dashed yellow;
}


.componentes tr button {
  line-height: inherit;
}

/* .componentes tr div {
  float: right;
  font-size:0;
  box-sizing: border-box;
}

.componentes tr div:hover {
  box-shadow: 0 0 0.2rem 0.1rem rgb(0 128 160 / 50%);
  border-radius: 0.2rem;
}

.componentes tr div button {
  box-sizing: border-box;
  border-radius: 0;
  line-height: inherit;
  box-shadow: none;
}

.componentes tr div button:hover {
    box-shadow: none;
}

.componentes tr div button:first-child {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.componentes tr div button:last-child {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
} */

.componentes h1 {
  font-size: 1rem;
  border-bottom: 1px solid goldenrod;
}
