<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"
            defer></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="validar">
            <label>Nombre</label>
            <input type="text"
                   v-model="nombre"><br>
        </form>
        <p v-if="estado==3"
           class="alertaroja">El campo nombre está vacío.</p>
        <p v-if="estado==2"
           class="alertaverde">{{nombre}}</p>
    </div>
</body>

</html>