<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="index.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent>
            <label>Cantidad de filas</label>
            <input type="number"
                   v-model.number="cantidadFilas"
                   min="0"
                   max="30">
            <input type="range"
                   v-model.number="cantidadFilas"
                   @input="actualizarMatriz()"
                   min="0"
                   max="30"><br>
            <label>Cantidad de columnas</label>
            <input type="number"
                   v-model.number="cantidadColumnas"
                   min="0"
                   max="30">
            <input type="range"
                   v-model.number="cantidadColumnas"
                   @input="actualizarMatriz()"
                   min="0"
                   max="30"><br>
            <button @click="actualizarMatriz()">Actualizar</button>
            <button @click="iniciarCambio()"
                    v-if="timeHandler==0">Iniciar cambio</button>
            <button @click="pararCambio()"
                    v-else>Parar cambio</button>
        </form>
        <div class="matriz">
            <div class="fila" v-for="fila of matriz">
                <div v-for="celda of fila"
                     class="celda"
                     :style="{backgroundColor: celda.color}"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>