<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <button class="lengueta" :class="{lenguetainactiva: lenguetaactual?.componente!=lengueta.componente }"
            v-for="lengueta in lenguetas" @click="cambiarLengueta(lengueta)">{{lengueta.titulo}}</button>

        <keep-alive>
            <component v-if="lenguetaactual" :is="lenguetaactual.componente" :productos="productos"></component>
        </keep-alive>
        <!-- 
        <component is="listaproductos" :productos="productos"></component>
        <component is="crearproducto" :productos="productos"></component> -->

        <!-- <listaproductos :productos="productos"></listaproductos>
        <crearproducto :productos="productos"></crearproducto> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>